.app-container{
    text-align: center;
    margin-top: 50px;
    font-family: Arial, sans-serif;
    color: #333;
}

.custom-tooltip {
  position: absolute;
  pointer-events: none;
}

.custom-tooltip .leaflet-tooltip-top::before,
.custom-tooltip .leaflet-tooltip-bottom::before,
.custom-tooltip .leaflet-tooltip-left::before,
.custom-tooltip .leaflet-tooltip-right::before {
  position: absolute;
}


